<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Password</h1>
  <form id="resetPasswordForm">
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Submit</button>
  </form>

  <script>
    const currentDate = new Date(); // Теперішній час
const futureDate = new Date(currentDate.getTime() + 60 * 60 * 1000); // Час через годину

console.log("Теперішній час:", currentDate); // Виведе теперішній час
console.log("Час через годину:", futureDate); // Виведе час через годину
    document.getElementById("resetPasswordForm").addEventListener("submit", async function (event) {
      event.preventDefault(); 

      const newPassword = document.querySelector("#newPassword").value;
      const token = "${TOKEN}"; 
      const body = JSON.stringify({newPassword})
      console.log(body)
      

      const response = await fetch("http://localhost:5500/api/users/reset-password", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Authorization": "Bearer " + token
        },
        body: body
      });

      const result = await response.json();

      alert(result.message);

      document.getElementById("resetPasswordForm").reset();

      if (response.ok) {
        window.location.href = "/";
      }
    });
  </script>
</body>
</html>
